<ion-view >
  <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-buttons side="right">
          <button class="button icon-left ion-home" ui-sref="home">

          </button>
      </ion-nav-buttons>
      <ion-nav-back-button class="button-small" >
          <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
  <ion-nav-title> {{hymnNumber}}</ion-nav-title>
  </ion-nav-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <center>
      <div >

      <p><em><strong>{{hymnTitle}}</strong></em>   </p>
      <div >
        <p>	{{hymnHeaderNumber}}</p>
      </div>
    </div>
    <div ng-bind-html="hymnContent">

    </div></center>
  </ion-content>
</ion-view>
